@font-face {
    font-family:'LeagueGothicRegular';
    src:url('../fonts/League_Gothic-webfont.eot');
    src:url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}

body {
	background:#1a1a1a;
	color:#c9c9c9;
	font-size:0.875em;
	line-height:26px;	
	font-family:"LeagueGothicRegular", Tahoma, Helvetica, Arial, sans-serif;
	font-size:22px;
}

.simulation {
    background:#262626 url(../images/bg_body.png) repeat-x;
    margin:0;
    padding:0;
}

#container {
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

h1, h2, h3, h4 {
	font-family:"LeagueGothicRegular";
	color:#b1d81c;
	font-weight:normal;
	text-transform:uppercase;
}

h1 {
	font-size:56px;
	line-height:64px;
}

h2 {
	font-size:48px;
	line-height:48px;
	color:#fff;
}

h3 {
	font-size:36px;
	line-height:36px;
}

h4 {
	font-size:30px;
	line-height:36px;
}

p {	
	color:#c9c9c9;
	font-size:0.875em;
	line-height:20px;	
}

a {
	font-family:"LeagueGothicRegular";
	color:#72b6fa;
	text-decoration:none
}

a:hover {
	text-decoration:underline;
}

hr {
    border:none;
    border-top:#333 1px solid;
    margin:20px 0;
}

#pages {
	width:1280px;
    height:960px;    
	margin-left:auto;
	margin-right:auto;
}

.option-current {
	background:url(../images/1.png) no-repeat;
}

.option-1-1 {
	background:url(../images/2.png) no-repeat;
}

.option-1-2 {
	background:url(../images/3.png) no-repeat;
}

.option-1-3 {
	background:url(../images/4.png) no-repeat;
}

.option-2-1 {
	background:url(../images/5.png) no-repeat;
}

.option-3a-1 {
	background:url(../images/6.png) no-repeat;
}

.option-3a-2 {
	background:url(../images/7.png) no-repeat;
}

.option-3a-3 {
	background:url(../images/8.png) no-repeat;
}

.option-3a-4 {
	background:url(../images/9.png) no-repeat;
}

.option-3b-1 {
	background:url(../images/10.png) no-repeat;
}

.option-3b-2 {
	background:url(../images/11.png) no-repeat;
}